$arrowThickness = 1px
$arrowWidth = 7px
$arrowColor = #78b13f


.more-button
    color $arrowColor
    font-size 14px
    text-decoration none
    display inline-block
    font-weight bold
    position relative

    &.is-open
        span
            &:last-child
                transform rotate(180deg) translateX(5px)

    span 
        display inline-block
        vertical-align middle

        &:first-child
            padding 0 10px 0 0

.arrow-down   
    width $arrowWidth
    position relative
    height 0
    &:before,
    &:after
        content ''
        display inline-block
        position absolute
        height $arrowThickness
        width 7px
        background $arrowColor
        top 0
    &:after
        transform rotate(-45deg)
        right 0
    &:before
        left -4px
        transform rotate(45deg)

.btn
    background #52ac62
    display block
    width 100%
    text-decoration none 
    text-align center
    border-radius: 3px
    padding .39em 0.5em
    font-size 18px
    color #fff
    border 2px solid transparent 
    transition background .3s ease, opacity .3s ease

    &:hover
        cursor pointer
        background lighten(#52ac62, 20)

    &--default
        background #e5e8ec
        border 1px solid #c9ced6
        color #000

        &:hover
            background lighten(#e5e8ec, 10)

    $vkBack = #3b5f94
    $fbBack = #323c89
    $googleBack = #da3d2c
    $yandexBack = #da3d2c

    &--vk
        background $vkBack
        &:hover
            background lighten($vkBack, 10)

    &--fb
        background $fbBack
        &:hover
            background lighten($fbBack, 10)

    &--google
        background $googleBack
        color #fff
        &:hover
            background lighten($googleBack, 10)
        
    &--yandex
        background transparent
        color #000
        border-color $yandexBack
        span
            color $yandexBack
        &:hover
            background transparent
            border-color lighten($yandexBack, 15)