.form-group
    margin 0 0 10px 0

.default-form
    box-shadow 0px 1px 3px 0px rgba(0, 0, 0, 0.5)
    max-width 370px
    font-size 14px
    
    .btn
        &:not(.default-form__btn-submit)
            margin 14px 0 0 0

    &__hidden-buttons
        overflow hidden
        max-height 0
        transition max-height 0.3s ease

        &.is-active
            max-height 40em
    
    &__header
        font-size 24px
        text-align center
        margin 0 0 33px 0

    &__inner
        padding 32px 42px 55px 42px

    &__options
        margin 30px 0 0 0

    &__or
        display block
        text-align center
        color #cdd0d4
        margin 25px 0 10px 0

    &__btn-submit
        margin 45px 0 0 0

    .more-button
        margin 20px 0 0 0
        transition opacity .3s ease
        &:hover
            cursor pointer
            opacity 0.8

    .site-link
        float right
        margin 2px 0 0 0

$grayWarmColor = rgb(229, 232, 236)

.form-input
    height 40px
    border 1px solid $grayWarmColor
    display block
    width 100%
    padding 0 13px
    border-radius 3px
    background-color rgb(252, 252, 252)

    &.is-error
        border 1px solid #fb9d93

    &:focus
        outline 0
        border-color darken($grayWarmColor, 20)


