webfont('Roboto Regular', 'Roboto/Regular/Roboto-Regular')

html
  -moz-osx-font-smoothing: grayscale 
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

html,
body
  height 100%
  font-family "Roboto Regular"

body
  position relative
  font-family "Roboto Regular"
  font-size 16px

  &.has-open-menu
    .primary-nav
      max-height 50em
      box-shadow 1px 0 3px #eee
      border border 1px solid #eee
hr
    border 0
    border-top 1px solid #908f8f

.text-right
  text-align right

.text-center
  text-align center

.text-left
  text-align left

.site-link
  text-decoration none
  color #2c88d5

.empty-link
  color #4c4c4c
  text-decoration none
  transition opacity .3s ease
  &:hover
    cursor pointer
    opacity .8

$arrowThickness = 1px
$arrowHeight = 10px
$arrowWidth = 5px
$arrowColor = #000

.icon-tick-css
  display inline-block
  transform rotate(45deg)
  height $arrowHeight
  width $arrowWidth
  border-bottom $arrowThickness  solid $arrowColor
  border-right $arrowThickness  solid $arrowColor

.h2
  margin 20px 0 30px 0
  &__number,
  &__text
    display inline-block
    vertical-align middle

  &__number
    height 50px
    width 50px
    text-align center
    line-height 50px
    border-radius 100%
    background  #333333
    color #fff
    margin 0 18px 0 0

$tooltipTriangleSize = 5px

.tooltip
  font-size 14px
  color #ffffff
  background #000
  display inline-block
  padding .5em 1.3em
  border-radius 3px
  position relative

  &:before
    content ''
    position absolute
    border-left $tooltipTriangleSize solid transparent
    border-right $tooltipTriangleSize solid transparent
    border-bottom $tooltipTriangleSize solid black
    width 0
    height 0 

  &--top,
  &--bottom
    &:before
      left 50%

  &--top
    &:before
      top -($tooltipTriangleSize)
      transform translateX(-50%)
  
  &--bottom
    &:before
      bottom -($tooltipTriangleSize)
      transform translateX(-50%) rotate(180deg)

  &--left
    &:before
      left -($tooltipTriangleSize) * 2
      top 50%
      transform translateY(-50%) translateY(1px)
      border-top: $tooltipTriangleSize solid transparent
      border-bottom: $tooltipTriangleSize solid transparent 
      
      border-right:$tooltipTriangleSize solid #000 

  &--right
    &:before
      right -($tooltipTriangleSize) * 2
      top 50%
      transform translateY(-50%) translateY(1px)
      border-top: $tooltipTriangleSize solid transparent
      border-bottom: $tooltipTriangleSize solid transparent 
      
      border-left:$tooltipTriangleSize solid #000 

.has-tooltip
  position relative
  &:focus
    outline 0
  &:before
    content attr(data-content)
    position absolute
    width 100%
    background #000 
    font-size 14px
    padding 20px 0
    border-radius 5px
    z-index 1
    opacity 0
    color #fff
    visibility hidden
    transition opacity 0.3s ease
  &:hover
    cursor pointer
    &:before, &:after
      visibility visible
      opacity 1
  &:after
    content ''
    opacity 0
    visibility hidden
    z-index 0
    position absolute
    width 0
    height 0
    opacity 0
    transition opacity 0.3s ease

.has-tooltip--top
  &:before
    transform translateY(-100%) translateY(-20px)
    left 0
  &:after
    content ''
    border-left $tooltipTriangleSize solid transparent
    border-right $tooltipTriangleSize solid transparent
    border-bottom $tooltipTriangleSize solid black
    top -($tooltipTriangleSize) - 8px
    left 50%
    transform translateX(-50%) rotate(180deg)

.has-tooltip--bottom
  &:before
    bottom 0
    transform translateY(100%) translateY(13px)
    left 0
  &:after
    content ''
    border-left $tooltipTriangleSize solid transparent
    border-right $tooltipTriangleSize solid transparent
    border-bottom $tooltipTriangleSize solid black
    bottom -($tooltipTriangleSize) - 8px
    left 50%
    transform translateX(-50%)

.has-tooltip--left
  &:before
    top 50%
    transform translate(-100%, -50%) translateX(-13px)
    left 0
  &:after
    content ''
    border-left $tooltipTriangleSize solid transparent
    border-right $tooltipTriangleSize solid transparent
    border-bottom $tooltipTriangleSize solid black
    top 50%
    left -($tooltipTriangleSize) - 11px
    transform translateY(-50%) rotate(90deg)

.has-tooltip--right
  &:before
    top 50%
    transform translate(100%, -50%) translateX(13px)
    right 0
  &:after
    content ''
    border-left $tooltipTriangleSize solid transparent
    border-right $tooltipTriangleSize solid transparent
    border-bottom $tooltipTriangleSize solid black
    top 50%
    right -($tooltipTriangleSize) - 11px
    transform translateY(-50%) rotate(-90deg)


.container
    margin 0 auto
    position relative
    width 100%
    clearfix()
    @media (min-width: 1200px)
        width 1170px