
// Helpers

@import "_variables"
@import "_mixins"


@import "assets/_normalize.styl"

// Components

@import "components/_hamburger"
@import "components/_nav"
@import "components/_checkboxes"
@import "components/_loader"
@import "components/_todo"

// General

@import "_general"

// Controls

@import "_buttons"
@import "_forms"

dev = 0

body,html
    height 100%

*
  box-sizing border-box
  if dev
    outline 1px solid #eee

.site-content
    height 100%

.site-inner
    display flex
    height 100%

.site-main
    width calc(100% - 300px)
    float right

.site-section
    padding 20px 0 0 0
    min-height 100vh

.section-form
    .default-form
        margin 70px 0 0 0

.about
    clearfix()

    &__left,
    &__right
        float left

    &__left
        width 60%
        padding 0 20px 0 0

    &__right
        width 40%

    &__thumb
        height 130px
        width 130px
        background  url('https://rostov.hh.ru/photo/482645867.jpeg?t=1533898631&h=RhCtjHEbeCKHErSZZ6WR4w') center center no-repeat
        background-size cover

    &__contact-link
        display block
        margin 15px 0 0 0

    &__buffer-control
        text-decoration underline
        color #9e9595
        font-size 14px
        cursor pointer
        &:hover
            cursor pointer

.tooltips
    &__inner
        margin 70px 0 0 0
        display flex
        justify-content space-between
        padding 0 30px

    &__btn-wrapper
        margin 50px 0 0 0
        .btn
            max-width 200px
            font-size 18px
            margin 0 auto

.loader-section
    &__inner
        margin 80px 0 0 0

@media(max-width 1024px)
    .site-main
        width 100%
        float none
        padding 0 15px

    .site-section
        min-height initial

    .primary-nav
        position absolute
        z-index 1
        right 60px
        top 65px
        left auto
        height auto
        background #fff
        min-width 240px
        box-shadow 1px 2px 3px #cdd0d4
        text-align center
        border 1px solid #eee
        
        max-height 0
        overflow hidden
        transition max-height 0.4s ease 
        box-shadow 0
        border 0

        &-wrapper
            width 100%
            position absolute
            top 0
            height 100%
            left 0

        &-button
            display block
        
        &__item
            margin 0

        &__link
            font-size 16px
            padding 15px 10px
            display block
            border-bottom 1px solid #eee
            
@media(max-width 800px)
    .about
        display flex
        flex-direction column

        &__left,
        &__right
            width 100%
            float none

        &__right
            order 0
            padding 30px 0 80px 0

        &__left
            order 1

    .tooltips
        &__inner
            display flex
            flex-direction column
        .tooltip
            margin 20px 0 0 0
            align-self center

    .default-form,
    .todo
        max-width initial

    .h2
        font-size 17px
        white-space nowrap
        text-overflow ellipsis

    .default-form
        &__inner
            padding 32px 20px 55px 20px
        &__options
            label, .site-link
                font-size 14px

@media(max-width 480px)
    .todo
        flex-direction column
        .todo-button
            flex-grow 1
            margin 15px 0 0 0