section.about.site-section#task-1
    h2.h2.
        <span class="h2__number">1</span>
        <span class="h2__text">О себе</span>
    .about__left
        .about__content
            p.
                Меня зовут Роман. 22 года. Пока не женат. Есть кошка 🐱
            p(style="margin: 40px 0 0 0; color: #9a9a9a").
                Для верстки использую:
        .about__content
            ul
                li.
                    Pug
                li.
                    Stylus
                li.
                    Javascript
                li.
                    Chrome (из расширений <a href="https://chrome.google.com/webstore/detail/page-ruler/emliamioobfffbgcfdchabfibonehkme?hl=en" target="_blank">Page Ruler </a> и <a href="https://chrome.google.com/webstore/detail/perfectpixel-by-welldonec/dkaagdgjmgdmbnecmcefdhjekcoceebi" target="_blank">PerfectPixel</a>)
        .about__content
            p(style="margin: 40px 0 0 0; color: #9a9a9a").
                Для backend:
            ul
                li.
                    Python + Django 💕
                li.
                    PHP + Wordpress
    .about__right
        .about__thumb
        a(href="tel:+79888944478" class="empty-link about__contact-link" to-clipboard="Телефон: +7-988-894-44-78") +7-988-894-44-78
        a(href="tg://resolve?domain=yelakelly" class="empty-link about__contact-link" to-clipboard="Telegram: +7-909-493-73-87") Telegram
        a(href="skype:sqrt361?call" class="empty-link about__contact-link" to-clipboard="Skype: sqrt361") Skype
        a(href="https://vk.com/id31975282" class="empty-link about__contact-link" to-clipboard="VK: https://vk.com/id31975282") VK
        a(class="about__contact-link empty-link about__buffer-control").
            Скопировать в буфер обмена