section.section-form.site-section#task-2
    h2.h2.
        <span class="h2__number">2</span>
        <span class="h2__text">Форма</span>
    form.default-form(action="")
        .default-form__inner
            p.default-form__header.
                Регистрация
            a(href="#").btn.btn--vk Регистрация из Вконтакте
            a(href="#").btn.btn--fb Регистрация из Facebook
            .default-form__hidden-buttons
                a(href="#").btn.btn--google Регистрация из Google Plus
                a(href="#").btn.btn--yandex Регистрация из <span>Яндекс</span>
            .text-right
                span(data-target=".default-form__hidden-buttons").more-button
                    span(data-show-text="Другие" data-hide-text="Скрыть").
                        Другие
                    span.arrow-down
            span.default-form__or.
                или
            .form-group
                input(type="text" name="login" placeholder="Ваш логин или E-mail").form-input
            .form-group
                input(type="password" name="login" placeholder="Пароль").form-input
            .form-group.default-form__options
                - let rememberInputName = 'remember_me'
                input(class="default-checkbox" type="checkbox" id=`${rememberInputName}` name=`${rememberInputName}`)
                label(for=`${rememberInputName}`)
                    span.
                        Запомнить меня
                    span.icon-tick-css
                a(href="#").site-link Забыли пароль?
            a(href="").btn.default-form__btn-submit Зарегистрироваться