section.site-section.loader-section#task-4
    h2.h2.
        <span class="h2__number">4</span>
        <span class="h2__text">Индикатор загрузки</span>
    .loader-section__inner
        .loader-wrapper
            .loader
                .loader__outer
                .loader__inner