section.site-section.tooltips#task-3
    h2.h2.
        <span class="h2__number">3</span>
        <span class="h2__text">Всплывающая подсказка</span>
    .tooltips__inner
        span.tooltip.tooltip--left.
            Tooltip on the left
        span.tooltip.tooltip--top.
            Tooltip on the top
        span.tooltip.tooltip--bottom.
            Tooltip on the bottom
        span.tooltip.tooltip--right.
            Tooltip on the right

    .text-center.tooltips__btn-wrapper
        button(data-content="Чтобы войти в систему кликните на кнопку").btn.btn--default.has-tooltip.has-tooltip--top.
            Войти в систему