$brandColor = #2c88d5

.default-checkbox:not(:checked),
.default-checkbox:checked
    position absolute
    left -9999px

.default-checkbox:not(:checked) + label,
.default-checkbox:checked + label
    position relative
    padding-left 1.95em
    cursor pointer
    &:hover
        &:before
            border-color darken($brandColor, 20)

.default-checkbox + label
    span
        &:first-child
            margin 3px 0 0 0
            display inline-block
            vertical-align middle
    .icon-tick-css
        position absolute
        left 7px
        top 3px
        transition opacity .3s ease
        opacity 0

.default-checkbox:checked + label
    .icon-tick-css
        opacity 1

.default-checkbox:not(:checked) + label:after,
.default-checkbox:checked + label:after
    content ''
    position absolute
    left 0
    top 0
    width 1.2em
    height 1.3em
    border 1px solid $brandColor
    background-color transparent

.default-checkbox:not(:checked)
    & + label
        &:before
            opacity 0
            transform scale(0)

.default-checkbox:checked
    & + label
        &:before
            opacity 1
            transform scale(1)

// .default-checkbox:disabled:not(:checked) + label:before,
// .default-checkbox:disabled:checked + label:before
//     box-shadow none
//     border-color #bbb
//     background-color #ddd

// .default-checkbox:disabled
//     &:checked
//         & + label
//             &:after
//                 color #999
//     & + label
//         color #aaa