$wrapperSize = 130px
$wrapperColor = #3366cc

$loaderSize = 60px
$loaderBorder = 3px

.loader-wrapper
    max-width $wrapperSize
    height $wrapperSize
    display flex
    justify-content center
    align-items center
    background $wrapperColor
    position relative

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes spin-reverse
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(-360deg)

.loader
    width: $loaderSize
    height: $loaderSize
    display: block
    position relative

    &__inner,
    &__outer
        border-radius 50%

    &__inner
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        animation: spin 1.5s linear infinite
        border: $loaderBorder solid #fff
        border-left: $loaderBorder solid transparent
        z-index: 1500

    &__outer
        position absolute
        top 5px
        left 5px
        animation spin-reverse 1.5s linear infinite
        right 5px
        bottom 5px
        border $loaderBorder solid #fff
        border-bottom $loaderBorder solid transparent