.primary-nav-wrapper
    width $sidebar_width

.primary-nav
    
    &__list
        list-style-type none
        margin 0
        padding 0

    &__item
        margin 0 0 20px 0

    &__link
        font-size 22px
        color #333333
        text-decoration none
        transition opacity .3s ease 
        &:hover
            opacity 0.8
    
    &-button
        display none
        position absolute
        top 20px
        right 20px

    &--fixed
        top 30px
        left 40px
        height 100%
        position fixed