/* ==========================================================================
   Social links
   ========================================================================== */

social-size = 20px
social-item-space = 0 12px
social-color = #be7b54

.social 
  margin 0
  list-style-type none
  padding 0

  &__item
    display inline-block
    vertical-align middle
    margin social-item-space

    &:first-child
        margin-left 0
    &:last-child
      margin-right 0

  &__link
    text-decoration none
    color social-color

  i
      font-size social-size
      text-decoration none
      transition color 0.3s ease
      &:hover
          opacity 0.6