.todo
    max-width 400px
    display flex
    flex-wrap wrap
    flex 1 1 160px
    input[name="todo-input"] 
        flex-grow 1
        width auto
    .btn
        width auto
        margin-left 10px

.todo-list
    width 100%
    flex-grow: 1
    margin 30px 0 40px 0
    
    &__remove-btn
        font-size 20px
        color #fff
        width 25px
        text-align center
        background #da3d2c
        position absolute
        right 10px
        top 10px
        transition opacity .3s ease

        &:hover
            cursor pointer
            opacity 0.8
    
    &__item
        position relative
        padding 20px 40px 20px 20px
        background #eee
        
        &:not(:last-child)
            border-bottom 1px solid #d2d2d2
        
        .default-checkbox + label .icon-tick-css
            left 8px
            top 4px
            
        &.is-active
            background: #d1ffa3
            .default-checkbox:checked + label:after,
            label
                border-color #d1ffa3
                color #333
