extend common/_body.pug

block vars
  -
    let title = 'Тестовое задание'
block content
  include sections/_about.pug
  include sections/_form.pug
  include sections/_tooltip.pug
  include sections/_loader.pug
  include sections/_todo.pug