-
    let menu = (() => {
        let items = [];
        for(let i = 1; i <= 5; i++){
            items.push({
                'title': `Задание ${i}`,
                'link': `#task-${i}`
            })
        }
        return items;
    })()

.primary-nav-wrapper
    .primary-nav-button
        button(class="hamburger hamburger--collapse js-nav-toggle")
            span.hamburger-box
                span.hamburger-inner
    nav.primary-nav.primary-nav--fixed
        ul.primary-nav__list(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
            each link in menu
                li.primary-nav__item(data-scroll itemprop="name")
                    a(href=`${link.link}` itemprop="url").js-scroll-to.primary-nav__link=link.title