doctype html
html(lang="ru")
  head
    block vars
        - let title = ''
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content=`${description}`)
    meta(name="theme-color" content=`${themeColor}`)
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="keywords" content=`${keywords}`)
    meta(name="theme-color", content="#ff6c03")
    title= title
    ='\n'
    <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js")
    <![endif]-->
    ='\n'
    ='\n'
    <!--build:css css/style.min.css -->
    link(rel="stylesheet", href="css/style.css")
    ='\n'
    <!-- endbuild -->
  body(class=`${(bodyClass || '')}`)
    div.site-inner
        .container
            block menu
                include ../components/_nav.pug
            main.site-main
                block content
    block scripts
        ='\n'
        <!--build:js js/script.min.js -->
        script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js")
        script(src="js/main.js")
        script(src="js/todo.js")
        ='\n'
        <!-- endbuild -->
        ='\n'
        ='\n'